
<h1>Error List</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th><u><%= link_to "Name", :sort => "name"%> </u></th>
        <th><u> <%= link_to "Priority", :sort => "priority"%></u></th>
        <th><u>Description</u></th>
        <th><u><%= link_to "Person Assigned", :sort => "person_assigned"%></u></th>
        <th><u><%= link_to "Date Found", :sort => "date_found"%></u></th>
        <th><u><%= link_to "Progression", :sort => "progress"%></u></th>
        <th><u>Delete</u></th>
      </tr>
    </thead>

<%= link_to 'Download as CSV', errors_path(format:  :csv) %>

    <tbody>
      <% @errors.each do |error| %>
        <% if error.user == current_user %>
          <tr>
            <td><%= link_to error.name, error %></td>
            <td><%= error.priority %></td>
            <td><%= error.description %></td>
            <td><%= error.person_assigned %></td>
            <td><%= error.date_found %></td>
            <td><%= error.progress %></td>
            <td><%= button_to 'Delete', error,method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
        
<center>
<%= link_to "New error", new_error_path, class:"btn btn-primary" %>
</center>
