<div id="<%= dom_id error %>">
  <p>
    <strong>Name:</strong>
    <%= error.name %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= error.priority %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= error.description %>
  </p>

  <p>
    <strong>Person assigned:</strong>
    <%= error.person_assigned %>
  </p>

  <p>
    <strong>Date found:</strong>
    <%= error.date_found %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= error.progress %>
  </p>

</div>
