<%= form_with(model: error) do |form| %>
  <% if error.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(error.errors.count, "error") %> prohibited this error from being saved:</h2>

      <ul>
        <% error.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.text_field :name, class:"form-control", placeholder:"Error Name" %>
  </div>

  <div class="form-group">
    
    <b>Priority Level:</b>
    <%= form.select :priority, [1, 2, 3, 4, 5] , class:"form-control", placeholder:"Priority level" %>
  </div>

  <div class="form-group">
    
    <%= form.text_area :description, class:"form-control", placeholder:"Description of Error" %>
  </div>

  <div class="form-group">
    
    <%= form.text_field :person_assigned, class:"form-control", placeholder:"Error Handler" %>
  </div>

  <div class="form-group">
  
    <%= form.date_field :date_found, class:"form-control", placeholder:"Date found" %>
  </div>

  <div class="form-group">
  
    <b>Error Progress:</b>
    <%= form.select :progress, ["Unassigned", "In Progress", "Solved", "N/A"] , class:"form-control", placeholder:"Error Progress" %>
  </div>

  <div class="form-group">
  
    <%= form.number_field :user_id, id: :error_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>
  

  <div>
    <%= form.submit %>
  </div>
<% end %>
